@font-face {
    font-family: Fraunces;
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}


@font-face {
    font-family: Manrope;
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

html {

    font-size: 62.5%;
}


body {

    width: 1440px;
}
.box {
/*     margin-top: 50%; */
    margin-left: 53%;
    transform: translate(-50%, -50%);
    width: 1440px;
    height: 1000px;
    background-color: #24053E;
    border-radius: 1% 1% 20% 20%;

}

.logo {
    position: absolute;
    width: 96px;
    height: 25px;
    margin-top: 70px;
    margin-left: 165px;
}

.firstline {

    display: flex;
}

.apply {
    font-family: Manrope;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: white;
    width: 200px;
    height: 32px;
    letter-spacing: -0.18px;
    margin-left: 1135px;
    margin-top: 65px;
}
.pattern {

    margin-top: 116px;
    margin-left: -100px;
}

.pattern1 {

    margin-left: 1315px;
    margin-top: -100px;
}

.maintext {

    font-family: Fraunces;
    font-weight: 600;
    width: 635px;
    height: 160px;
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    color: white;
    margin-top: -220px;
    margin-left: 403px;
}

.box button {

    background-color: #44FFA1;
    width: 16rem;
    height: 6rem;
    text-align: center;
    margin-left: 45%;
    margin-top: 70px;
    font-weight: 700;
    font-family: Manrope;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #24053E;
}

.mobile {

    width: 80.7rem;
    height: 50.5rem;
    margin-left: 361px;
    margin-top: 70px;
}

.threeboxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: raw;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
     
.title {

    font-family: Fraunces;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #24053E;
    width: 354px;
    height: 40px;
    font-size: 3.2rem;
    margin-top: 56px;
}

.one {

    border: 2px solid black;
    border-radius: 50%;
    font-family: Fraunces;
    font-weight: 600;
    font-size: 2.4rem;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin-left: 40%;
    margin-top: 200px;
 
}

h1 {

    color: #24053E;
    font-family: Manrope;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: center;
    width: 354px;
    height: 128px;
    margin-top: 30px;
}

.ending {

    display: flex;
}

.face {
    Width: 450.29px;
    height: 453px;
    margin-top: 0px;
    margin-left: 162.86px;
}

.box2 {
    position: absolute;
    width: 730px;
    height: 413px;
    margin-left: 545px;
    margin-top: -320px;
    background-color: #24053E;
}

h2 {
    color: #FFFFFF;
    width: 500px;
    height: 64px;
    font-family: Fraunces;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 50px;
    margin-left: 50px;
    margin-top: 60px;
}

.icon2 {

    position: absolute;
    margin-left: 420.73px;
    margin-top: 20.74px;
}

h3 {

    color: #FFFFFF;
    height: 96px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 60px;
    margin-top: 30px;
    width: 602px;

}

.box2 button {

    width: 190px;
    height: 61px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: #44FFA1;

}

p {
    color: #24053E;
    font-weight: 700;
    width: 140px;
    height: 32px;
    font-family: Manrope;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.18px;
    text-align: center;
    margin-left: 25.5px;
}
.theend {

    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 600px;
}

.darklogo {
    margin-top: 200px;
    margin-left: 650px;
}

@media all and (max-width: 768px) {

    html {
        font-size: 62.5%;
    }

    body{

        width: 768px;
    }

    .box {
        width: 768px;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate (-50%, -50%);
        width: 768px;
        height: 540px;
        background-color: #24053E;
        border-radius: 1% 1% 20% 20%;
    }


    .threeboxes {

        display: block;
    }

    .one {
        width: 48px;
        width: 46px;
        margin-top: 89px;
        margin-left: -220px;
    }
    
    .title {

        width: 493px;
        height: 108px;
        margin-top: 70px;
        margin-left: 10px;

    }

    h1 {
        width: 500px;
        height: 56px;
        margin-top: 100px;
        margin-left: -430px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #584D62;
        font-family: Manrope;


    }
    .box1 {

        display: flex;
        flex-direction: row;
        width: 573px;
        height: 108px;
        margin-left: 50px;
    }

    .maintext {
        text-align: center;
        width: 573px;
        height: 215px;
        margin-top: 10px;
        margin-left: 97px;
    }


    
    .logo {
        position: absolute;
        width: 96px;
        height: 25px;
        margin-top: 37px;
        margin-left: 39px;
    }
    
    .firstline {
    
        display: flex;
    }
    
    .apply {
        font-family: Manrope;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: white;
        width: 200px;
        height: 32px;
        letter-spacing: -0.18px;
        margin-left: 600px;
        margin-top: 37px;
    }
    .pattern {
    
        margin-top: 116px;
        margin-left: -200px;
    }
    
    .pattern1 {
    
        margin-left: 689px;
        margin-top: -400px;
    }
    
    .maintext {
    
        font-family: Fraunces;
        font-weight: 600;
        width: 550px;
        height: 160px;
        font-size: 6rem;
        line-height: 6rem;
        text-align: center;
        color: white;
        margin-top: -350px;
        margin-left: 100px;
    }
    
    .box button {
    
        background-color: #44FFA1;
        width: 16rem;
        height: 6rem;
        text-align: center;
        margin-left: 38%;
        margin-top: 0px;
        font-weight: 700;
        font-family: Manrope;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #24053E;
    }
    
    .mobile {
    
        width: 514px;
        height: 296px;
        margin-left: 151px;
        margin-top: 5px;
    }

    .face {
        Width: 281px;
        height: 281px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .box2 {
        position: absolute;
        width: 514px;
        height: 375px;
        margin-left: 220px;
        margin-top: -170px;
        background-color: #24053E;
    }

    h2 {
        color: #FFFFFF;
        width: 327px;
        height: 56px;
        font-family: Fraunces;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 56px;
        margin-left: 50px;
        margin-top: 50px;
    }

        
    h3 {
    
        color: #FFFFFF;
        height: 112px;
        font-family: Manrope;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-left: 50px;
        margin-top: 50px;
        width: 402px;
    
    }

        
    .box2 button {
    
        width: 170px;
        height: 55px;
        margin-top: 20px;
        margin-left: 50px;
        background-color: #44FFA1;
    
    }

    p {
        color: #24053E;
        font-weight: 700;
        width: 125px;
        height: 32px;
        font-family: Manrope;
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: -0.16px;
        text-align: center;
        margin-left: 20px;
    }

        
    .icon2 {
    
        position: absolute;
        margin-left: 320.73px;
        margin-top: -50px;
    }

    .darklogo {

        margin-top: 230px;
        margin-left: 326px;
    }

    .theend {
    
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 270px;
    }
    

}


@media all and (max-width: 415px) {

    html {
        font-size: 62.5%;
    }

    body{

        width: 375px;
    }

    .box {
        width: 100%;
        margin-top: 65%;
        margin-left: 48%;
        transform: translate (-50%, -50%);
        height: 481px;
        background-color: #24053E;
        border-radius: 1% 1% 20% 20%;
    }


    
    .box1 {

        display: flex;
        flex-direction: row;
        width: 573px;
        height: 108px;
        margin-left: 50px;
    }

    
    .logo {
        position: absolute;
        width: 96px;
        height: 25px;
        margin-top: 37px;
        margin-left: 16px;
    }
    
    .firstline {
    
        display: flex;
    }
    
    .apply {
        font-family: Manrope;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: white;
        width: 125px;
        height: 32px;
        letter-spacing: -0.16px;
        margin-left: 240px;
        margin-top: 37px;
    }
    .pattern {

        display: none;
    }
    
    .pattern1 {
    
        display: none;
    }
    
    .maintext {
    
        font-family: Fraunces;
        font-weight: 600;
        width: 343px;
        height: 195px;
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
        color: white;
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .box button {
    
        background-color: #44FFA1;
        width: 13rem;
        height: 5rem;
        text-align: center;
        margin-left: 35%;
        margin-top: -20px;
        font-weight: 700;
        font-family: Manrope;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #24053E;
    }
    
    .mobile {
    
        width: 320px;
        height: 184px;
        margin-left: 36px;
        margin-top: 60px;
    }

    .threeboxes {

        display: block;

    }

    .one {
        width: 48px;
        width: 46px;
        margin-top: 100px;
        margin-left: 50px;
    }
    
    .title {

        width: 343px;
        height: 36px;
        margin-top: 140px;
        margin-left: -200px;

    }

    h1 {
        width: 400px;
        height: 56px;
        margin-top: 180px;
        margin-left: -400px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #584D62;
        font-family: Manrope;


    }
    .ending {

        display: block;
    }
    .face {
        Width: 281px;
        height: 281px;
        margin-top: 0px;
        margin-left: 15%;
    }
    .box2 {
        position: absolute;
        width: 514px;
        height: 375px;
        margin-left: 0%;
        margin-top: -50px;
        background-color: #24053E;
    }

    h2 {
        color: #FFFFFF;
        width: 327px;
        height: 56px;
        font-family: Fraunces;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 56px;
        margin-left: 50px;
        margin-top: 50px;
    }

        
    h3 {
    
        color: #FFFFFF;
        height: 112px;
        font-family: Manrope;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-left: 50px;
        margin-top: 50px;
        width: 402px;
    
    }

        
    .box2 button {
    
        width: 170px;
        height: 55px;
        margin-top: 20px;
        margin-left: 50px;
        background-color: #44FFA1;
    
    }

    p {
        color: #24053E;
        font-weight: 700;
        width: 125px;
        height: 32px;
        font-family: Manrope;
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: -0.16px;
        text-align: center;
        margin-left: 20px;
    }

        
    .icon2 {
    
        position: absolute;
        margin-left: 320.73px;
        margin-top: -50px;
    }

    .darklogo {

        margin-top: 350px;
        margin-left: 45%;
    }

    .theend {
    
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        align-items: center;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 35%;
    }
    

}
